<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Portfolio{% endblock %}</title>
  

  <link rel="icon" href="{{ asset(APP_FAVICON) }}" type="image/x-icon" />

  {# Fonts Google : Inter + DM Mono #}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Mono:ital,wght@0,400;0,500;1,400&display=swap"
    rel="stylesheet"
  />

  {# CDN Devicons #}
  <link href="{{ asset('css/icons.css') }}" rel="stylesheet" />

  <!-- Custom Css-->
  <link rel="stylesheet" href="{{ asset('assets/icons.min.css') }}" type="text/css" />

  {# CSS global #}
  <link rel="stylesheet" href="{{ asset('css/app.css') }}" />

  {% include 'partials/_seo.html.twig' %}

  {% block stylesheets %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

  {% block navbar %}
    {% include 'partials/_navbar.html.twig' ignore missing %}
  {% endblock %}

  <main class="{% block main_class %}{% endblock %}" role="main">
    {% block body %}{% endblock %}
  </main>

  {% include 'partials/_footer.html.twig' ignore missing %}

  {# JS global #}
  <script src="{{ asset('js/main.js') }}" defer></script>
  {% block javascripts %}{% endblock %}
</body>
</html>